.chat-box
  .chat-header
    .chat-header__left
      .chat-header__left__chat-group
        = @group.name
      .chat-header__left__member
        = current_user.name
    = link_to "Edit", edit_group_path(current_user), class: "chat-header__right"
  .message
    = render @messages
  .form
    .form__box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__box__text', placeholder: 'type a message'
        = f.label :image, class: "form__box__image" do
          -# = f.span class: "form__box__image" do
          = icon('fas', 'image')
        = f.file_field :image, class: "form__box__file"
        = f.submit "Send", class: "form__btn"